body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #666;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
}


p {
    margin: 0 0 1.5em 0;
}

#main-header {
    background: #ffffff;
    color: white;
    height: 100px;
    border-bottom: 2px #e9e3e3 solid;
    border-radius: 1%;
}

#main-header a {
    color: #030303;
}

/*
 * Logo
 */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    margin-left: 50px;
    text-decoration: none;
}

/*
 * Navegación
 */
nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 15px;
    text-decoration: none;
}

nav ul li a:hover {
    background: #0b76a6;
}

#main-footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#main-footer p {
    margin: 0;
}

#main-footer a {
    color: white;
}