body {
    margin: 0;
    font-family: Poppins;
    background: #f2f2f2;
    font-size: 1em;
    line-height: 1.5em;
    width: 100vmax;
}

#main-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    height: 134px;
    border-bottom: 2px #e9e3e3 solid;
    border-radius: 1%;
    width: 100vmax;
}
/*
 * Logo
 */
#logo-header {
    display: flex;
    float: left;
    text-decoration: none;
}

#logo-header img{
    width: 134px;
    height: 134px;
}

/*
 * Navegación
 */
nav {
    display: flex;
    margin-right: 80px;
    margin-left: 30px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #090A0A;
    padding: 0 15px;
    
}

nav ul li a:hover {
    color: #A6B99F;
}
nav ul li :visited {
    color: #090A0A;
}

.rrss{
    width: 32px;
    height: 32px;
    padding: 8px;
}


#main-footer {
    height: 327px;
    width: 100vmax;
    background: #A6B99F;
    color: white;
    text-align: center;
}
