*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
    
}

body{
    width: 100%;
    background-color: white;
}

#main-header {
    background-color: white;
    display: flex;
    width: 100%;
    height: 142px;
    border-bottom: solid 3px;
    border-radius: 2%;
    border-color: rgb(163, 165, 165);
    z-index: 5;
}
/*
 * Logo
 */
#logo-header {
    text-align: right;
    width: 32.5%;
    height: 100%;
    background-color: white;
}

#logo-header a{
    width: 100%;
    height: 100%;
    
}
#logo-header img{
    width: 100%px;
    height: 100%;
}


.enlaces {
    width: 50%;
}

.enlaces ul {
    margin-top: 3%;
    display: flex;
    overflow: hidden;
    list-style: none;
}

.enlaces ul li {
    text-align: center;
    width: 30%;
}

.enlaces ul li a {
    text-decoration: none;
    display: block;
    color: #090A0A;
    padding: 20px 20px;
    font-size: 17px;
}

.enlaces ul li a:hover {
    color: #A6B99F;
    background-color: azure;
}

.enlaces ul li:visited {
    color: #090A0A;
}

.redes{
    background-color: white;
    display: flex;
    width: 32.5%;
    height: 100%;
}

.redes div{
    width: 32px;
    height: 32px;
    padding-left: 20px;
    padding-top: 50px;
}

.rrss{
    width: 100%;
    height: 100%;
}

.menu-bar{
    display: none;
}

@media screen and (max-width:1000px){
    #main-header{
        position: fixed;
    }

    .enlaces{
        width:100%;
        height: 100%;
        top: -100%;
        padding-top: 132px;
        position: fixed;
        z-index: 1;
    }
    
    .enlaces ul{
        display: block;
        overflow: auto;
    }
    
    .enlaces ul li{
        width: 100%;
        border: 1px solid;
        background-color: #BE7833;
    }

    .enlaces ul li a {
        display: block;
        padding: 30px;
    }

    #logo-header{
        width: 40%;
        z-index: 3;
    }

    .redes{
        float: right;
        width: 40%;
        height: 100%;
        z-index: 3;
    }

    .menu-bar{
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 20%;
        z-index: 3;
        background-color: white;
    }

    .menu-bar .bt-menu{
        display: block;
        text-decoration: none;
        padding: 10px 20px;
        font-size: 20px;
    }

    .menu-bar a.bt-menu span{
        display: block;
        font-size: 34px;
    }

    .menu-bar .bt-menu:visited{
        color: #dabfa3;
    }
    .menu-bar .bt-menu:hover{
        color: #A6B99F;
    }

    .content{
       position: relative;
       top: 142px;
    }
    
}    

/* ---- ACERCA DE -----*/
.who{
    position: relative;
    width: 100%;
    height: 42.9vw;
    overflow: hidden;
}

.p-who{
    background-color: #BE7833;
    position: absolute;
    width: 65.39%;
    height: 100%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 1;
    color: white;
    z-index: 2;
}

.t-who{
    color: white;
    position: absolute;
    font-size: 6vw;
    z-index: 2;
    left: 68%;
    top: 36%;
    font-weight: bold;
    line-height: 5.2vw;
}

.p-who p{
    margin-top: 2%;
    margin-left: 10%;
    width: 70%;
    font-size: 1.6vw;
}

.who img{
    position: absolute;
    width: 45.15%;
    object-fit: cover;
    height: 100%;
    left: 56%;
    filter: brightness(50%);

}

.us{
    overflow: hidden;
    margin-top: 5%;
    position: relative;
    width: 100%;
    height: 34.6vw;
}

.p-us{
    background-color: #BE7833;
    left: 34.5%;
    position: absolute;
    width: 65.39%;
    height: 100%;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    z-index: 1;
    color: white;
    z-index:4;
}

.t-us{
    color: white;
    position: absolute;
    font-size: 6vw;
    z-index: 2;
    top: 40%;
    font-weight: bold;
    line-height: 5.2vw;
    left: 3%;
}



.p-us p{
    margin-top: 4%;
    margin-left: 10%;
    width: 70%;
    font-size: 1.5vw;
    z-index: 5;
}

.us img{
    left: -2%;
    position: absolute;
    width: 45.15%;
    object-fit: cover;
    height: 100%;
    filter: brightness(50%);

}

.right-logo{
    position: absolute;
    width: 73.75vw;
    height: 60.07vw;
    z-index: 9;
    top: 7%;
    left: -35%;
    transform: rotate(180deg);
    opacity: 35%;
    z-index: 1;
}

.left-logo{
    position: absolute;
    width: 73.75vw;
    height: 60.07vw;
    top: 22%;
    left: 60%;
    z-index: 3;
    opacity: 30%;
}

.valores
{   
    padding-left: 3%;
    padding-top: 5%;
    justify-content: center;
    width: 100%;
    height: 39vw;
}

.valores .bloque{
    margin-right:5%;
    float: left;
    width: 27.6%;
    height: 25.54%;
    text-align: justify;
    font-size: 1.9vw;
}

.valores .bloque p{
    border-bottom: solid ;
    border-bottom: outset 0.2vw;
    border-right: outset 0.09vw;
    border-radius: 3px ;
    border-color: #d8d7d77a;
    padding-right: 1%;

}

/* OTROS SERVICIOS */

.cuadricula table{
    text-align: center;
    margin-top: 3%;
    width: 100%;
}

.cuadricula img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 23.4vw;
    height: 23.4vw;
}

.cuadricula a{
    text-decoration: none;
    display: block;
    background-color: #E8E8E8;
    color: #090A0A;
    padding: 1%;
    border-radius: 30px;
    border: solid 1px;
    font-size: 1.7vw;
}


.t-img {
    background-color: #090A0A;
    filter: opacity(80%);
    color: white;
    width: 23.43vw;
    height: 3.34vw;
    font-size: 2vw;
}



@media  screen and (max-width:1000px) and (max-height:600px){
    #main-header{
        height: 80px;
        z-index: 8;
    }

    .enlaces{
        padding-top: 60px;
    }
    .enlaces ul{
        display: flex;
    }

    .redes .logo-rrss{
        padding-top: 30px;
    }
}